*{
	font-family: Montserrat;

}

body{
	margin: 0;
	padding:0;
}

/* Hier zorg ik dat de content in het midden blijft*/

main{
display:grid;
  grid-auto-columns:min-content;
  justify-content:center;
  text-align:center;
}

/* Hier begint de css voor de NAVIGATIE*/
nav{
	width: 100%;
	background: #fff;
}
nav ul{
	width: 80%;
	margin:0 auto;
	padding:0;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding:20px;
}
nav ul li:hover{
	background: #00CCD2;
	text-decoration: none;
}
nav ul li a{
	color: black;
	text-decoration: none;
}

/*hier begint de css voor de main*/
	

.homepagina{
	margin: 1em;
	position: relative;
} 

.homepagina button{
	padding:1em;
	font-size: 1em;
	border-radius: 12px;
	border-style: none;
	background-color: black;
	color: #00CCD2;
	letter-spacing: 0.1em;
}

.homepagina button:hover{
	background-color: #00CCD2;
	color:white;
	transition: 2s;
	transform: rotate(360deg);
    box-shadow:.15em .15em .15em black;
}

.homepagina h1 {
	padding: 1em;
	position:relative;
    left:0.02em; right:1em; top:12em; bottom:1em;
    font-size: 1.4em;
  margin:0;
  color:white;
  background-color:#00CCD2;
  display:flex;
  justify-content:center;
  align-items:center;
  letter-spacing: 0.25em;
  line-height: 1.5em;
  opacity: 80%;
}

.homepagina h1:hover{
	background-color: black;
	transition: 1s;
	font-size: 1.7em;
}

#aanbod h2{
	
}

/* hier positioneer ik de list van mannen/vrouwen/kinder-kapsels */
section li img{
	border-radius: 10%;

}

ul li{
	list-style-type: none;
}

ul li h3 {
  position:relative;
  margin:0; padding:.5em;
  font-size:1.5em;
  font-weight:bold;
  color:white;
  border-radius: 12px;
  background-color:#00CCD2;
}

#midden{
	position: relative;
}

#midden h3{
	position:absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	margin:0; padding:.5em;
  color:white;
  background-color:#00CCD2;
    box-shadow:.15em .15em .15em black;
    text-align: center;
    	    	    opacity: 90%;


}

#centraal{
	position: relative;
}

#centraal h3{
	position:absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	margin:0; padding:.5em;
  color:white;
  background-color:#00CCD2;
    box-shadow:.15em .15em .15em black;
    	    	    opacity: 90%;

}
/
#z-index {
	position: relative;
}

#z-index ul li h3 {
  position:relative;
  margin:0; padding:.5em;
  font-size:1.5em;
  font-weight:bold;
  color:white;
  background-color:#00CCD2;
}

#z-index h3:first-of-type {
right:7em; top:4.45em;
z-index: 10;
	    box-shadow:.15em .15em .15em black;
	    opacity: 90%;

}

#z-index h3:last-of-type {
	 top:4.45em; left: 6em;
	    box-shadow:.15em .15em .15em black;
	    box-sizing: content-box;
	    	    opacity: 90%;

}

table {
	color: red;
	justify-content: center;
}


/*hier maak ik de afbeeldingen van deze list responsive*/
.responsive{
	width: 100%
	height:auto;
}

fieldset{
	background-color: red;

}

/* responsive geprobeerd te maken maar wanneer ik dit inschakel, wordt deze code als eerste opgenomen.
Wanneer ik het inschakel dan pakt hij meteen min-width: 960x; terwijl dit niet
de bedoeling is. */

/*
@media screen and (min-width: 480px) {
header nav ul{
padding: 2.5rem 0;
}

}

@media screen and (min-width: 720px) {
	header nav ul{
		padding: 3rem 0;
	}
}


@media screen and (min-width: 960px) {
header nav ul{
padding: 3.5rem 0;
}

@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1440px) {

} */
